#iconInicial1, #iconInicial2, #iconInicial3, #iconInicial4, #iconInicial5{
    display: none;
}

.levelBar{
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
  
    height: 50px;
    width: 1200px;

    background-color: transparent;

    color: white;
    box-sizing: border-box;
}

.level{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0;

    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); 
    
    height: 100%;
    width: 230px;

    z-index: 2;
}

.levelNumber{
    display: flex;   
    width: 100%; 
    align-items: center;
    justify-content: space-between;
}

.levelUpgrade{
    height: 6px;
    width: 85%;
    border: 1px solid grey;
}

.levelUpgradeIn{
    height: 100%;
    width: 25%;
    background-color: rgb(21, 110, 151);
}

.level p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.75rem;
}

.level p:last-child{  
    font-size: 1rem;
    padding: 0.2rem 0.75rem;
}

.odds{
    display: flex;     
    align-items: center;
    justify-content: space-evenly;

    font-size: 0.85rem;

    position: relative;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
   
    height: 75%;
    width: 275px;
}

.oneStar{
    text-align: center;
    min-width: 40px;
    color: rgb(161, 161, 161);    
}
.twoStar{
    text-align: center;
    min-width: 40px;
    color: rgb(80, 221, 80);
}
.threeStar{
    text-align: center;
    min-width: 40px;
    color: rgb(91, 162, 228);
}
.fourStar{
    text-align: center;
    min-width: 40px;
    color: rgb(223, 67, 210);
}
.fiveStar{
    text-align: center;
    min-width: 40px;
    color: rgb(241, 196, 69);
}

.gold{
    display: flex;     
    align-items: center;
    justify-content: center;

    position: relative;
    left: 45px;

    background-color: transparent;

    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); 

    height: 100%;
    width: 130px;    
}

.buttonsGold{
    display: flex;     
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 

    position: relative;
    left: 45px;

    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);

    height: 100%;
    width: 40px;  
    cursor: pointer;
}

.upGoldOut{
    display: flex;     
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid rgba(175, 153, 24, 0.836); 
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
    cursor: pointer;
}

.upGold{
    background: url('../assets/up-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 8px;
    height: 8px;   
}

.mais5{
    font-size: 0.7rem;
    padding: 0 0.25rem;
}

.downGold{
    background: url('../assets/down-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 8px;
    height: 8px;   
}

.downGoldOut{
    display: flex;     
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
    cursor: pointer;
}

.resetGold{
    background: url('../assets/reset-golden.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.resetGoldOut{
    display: flex;     
    align-items: center;
    justify-content: center;
    
    width: 100%;

}

.goldIcon{ 

    background: url('../assets/coin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.goldValue{
    font-size: 1.25rem;
    margin: 6px;
}


.lock{
    display: flex;     
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.75rem;

    position: relative;
    left: 420px;
    
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); 

    height: 75%;
    width: 65px;
    cursor: pointer;
    transition: 200ms;
}

.lock:hover{
    opacity: 0.9;
}

/* COR: #D9D152 */
.lockIconClosed{
    display: none;
    position: relative;
    background: url('../assets/unlocked-padlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.lockIconOpen{
    position: relative;
    background: url('../assets/unlocked-padlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.store{
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 150px;
    width: 1200px;

    border: 2px solid rgba(175, 153, 24, 0.836);
    /* border-radius: 1rem; */

    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

h1{
    color: white;
}

.levelBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    flex: 1;

    transform: scale(0.9);
}

.levelUp, .levelDown, .resetLevel{
    border: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgb(7, 42, 44, 0.9);
    font-size: 1.15rem;
    font-weight: bold;
    color: white;


    transform: scale(0.9);
    height: 100%;
    flex: 1;
    cursor: pointer;
    transition: 200ms;
}

.levelUp:hover, .levelDown:hover, .resetLevel:hover{
    opacity: 0.75;
}

.upXPOut, .downXPOut, .resetOut{
    cursor: pointer;
    display: flex;     
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(175, 153, 24, 0.836); 
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
}

.upXP{
    background: url('../assets/up-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.downXP{
    background: url('../assets/down-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.resetXP{
    background: url('../assets/reset-golden.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 25px;
    height: 25px;   
}

.mais1{
    font-size: 1.2rem;
    padding: 0 0.35rem;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(21, 110, 151, 0.836);  
    background-color: rgba(21, 54, 54, 0.836);  
    font-size: 0.9rem;
}

.buyXp, .refreshBox{
    margin: 0 1rem;
}

.valueAndIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyValue{
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

.buyGoldIcon{
    background: url('../assets/coin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 10px;
    height: 10px;   
}


/* COR: #156E97 */
.buyXpIcon{
    background: url('../assets/up-chevron.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 30px;
    height: 30px;   
    margin: 0 1rem;
}

.refresh{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(175, 153, 24, 0.836);  
    background-color: rgba(58, 50, 2, 0.836);  
    font-size: 0.9rem;
}

.refreshIcon{

    background: url('../assets/reload.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 30px;
    height: 30px;   
    margin: 0 1rem;
}

.myButtonLvl{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    width: 100%;
    height: 50px; 
}

.myButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: center; */

    font-weight: bold;
    color: white;

    transform: scale(0.9);
    width: 100%;
    height: 50px; 
    transition: 200ms;
}

.myButton:hover{
    opacity: 0.75;
}

.championBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(58, 58, 87, 0.836);  

    height: 100%;
    width: 195px;
    transform: scale(0.9);
}



.champImg{
    position: absolute;
    top: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 75%;    
    width: 100%; 
}

.champNome1{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    /* background-color: rgb(38, 38, 58);   */
    height: 25%;    
    width: 100%;
    position: absolute;
    bottom: 0;
}
.champNome2{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(38, 38, 58);  
    height: 25%;    
    width: 100%;
    position: absolute;
    bottom: 0;
}
.champNome3{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(38, 38, 58);  
    height: 25%;    
    width: 100%;
    position: absolute;
    bottom: 0;
}
.champNome4{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(38, 38, 58);  
    height: 25%;    
    width: 100%;
    position: absolute;
    bottom: 0;
}
.champNome5{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(38, 38, 58);  
    height: 25%;    
    width: 100%;
    position: absolute;
    bottom: 0;
}



