#iconInicial1,
#iconInicial2,
#iconInicial3,
#iconInicial4,
#iconInicial5 {
    display: none;
}

.containerStore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    /* border: 5px solid red; */
}

.startBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    width: 100%;
    /* border: 5px solid green; */
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    /* border: 5px solid green; */
    margin-top: 1rem;
}

.logoIcon {
    background-image: url('../assets/tftLogoPng2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 5px solid green; */
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 1rem;
    /* box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.5); */
    width: 375px;
    height: 175px;
}

.buttonStart {
    font-size: 1rem;
    margin: 0.25rem 6.5rem;
    padding: 1rem 2rem;
    color: rgb(235, 207, 53);
    background-color: rgb(7, 42, 44, 0.9);
    border: 2px solid rgba(175, 153, 24, 0.836);
    border-radius: 0.5rem;
    cursor: pointer;
}


/* .hide {
    display: none;
    margin: 0 6.5rem;
    padding: 1rem 3rem;
    color: white;
    border: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgba(58, 50, 2, 0.836);
}

.teste2:hover+ .hide {
    display: block !important;
} */

/* .wholeStore {
    border: 5px solid blue;
} */

.levelBar {
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    height: 75px;
    width: 1200px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836);
    height: 100%;
    width: 220px;
    z-index: 2;
}

.levelNumber {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 45%;
}

.levelUpgrade {
    height: 6px;
    width: 85%;
    border: 1px solid grey;
}

.levelUpgradeIn {
    height: 100%;
    width: 25%;
    background-color: rgb(21, 110, 151);
}

.level p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.75rem;
}

.level p:last-child {
    font-size: 1rem;
    padding: 0.2rem 0.75rem;
}

.odds {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 0.85rem;

    position: relative;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);

    height: 50%;
    width: 275px;
}

.oneStar {
    text-align: center;
    min-width: 40px;
    color: rgb(161, 161, 161);
}

.twoStar {
    text-align: center;
    min-width: 40px;
    color: rgb(80, 221, 80);
}

.threeStar {
    text-align: center;
    min-width: 40px;
    color: rgb(91, 162, 228);
}

.fourStar {
    text-align: center;
    min-width: 40px;
    color: rgb(223, 67, 210);
}

.fiveStar {
    text-align: center;
    min-width: 40px;
    color: rgb(241, 196, 69);
}

.gold {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 65px;
    background-color: transparent;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836);
    height: 75%;
    width: 130px;
}

.buttonsGold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 65px;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    height: 75%;
    width: 50px;
    cursor: pointer;
}

.upGoldOut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
    cursor: pointer;
}

.upGold {
    background: url('../assets/up-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 8px;
    height: 8px;
}

.mais5 {
    font-size: 0.7rem;
    padding: 0 0.25rem;
}

.downGold {
    background: url('../assets/down-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 8px;
    height: 8px;
}

.downGoldOut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
    cursor: pointer;
}

.resetGold {
    background: url('../assets/reset-golden.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;
}

.resetGoldOut {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

}

.goldIcon {

    background: url('../assets/coin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;
}

.goldValue {
    font-size: 1.25rem;
    margin: 6px;
}


.lock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.75rem;
    position: relative;
    left: 385px;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836);
    height: 50%;
    width: 65px;
    cursor: pointer;
    transition: 200ms;
}


/* COR: #D9D152 */
.lockIconClosed {
    display: none;
    background: url('../assets/locked-padlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;
}

.trancarCadeado{
    display: block;
}

.lockIconOpen {  
    position: absolute;
 
    background: url('../assets/unlocked-padlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;
}

.store {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 1225px;
    border: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgba(0, 0, 0, 0.85);
    /* background-color: rgb(223, 65, 215); */
    color: white;
}

h1 {
    color: white;
}

.levelBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    /* padding: 0.5rem 0; */
    /* transform: scale(0.9); */
}

.levelUp,
.levelDown,
.resetLevel {
    border: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgb(7, 42, 44, 0.9);
    font-size: 1.15rem;
    font-weight: bold;
    color: white;
    transform: scale(0.9);
    height: 100%;
    flex: 1;
    cursor: pointer;
    transition: 200ms;
}

/* .levelUp:hover, .levelDown:hover, .resetLevel:hover{
    opacity: 0.75;
} */

.upXPOut,
.downXPOut,
.resetOut {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
}

.upXP {
    background: url('../assets/up-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
}

.downXP {
    background: url('../assets/down-arrow-gold.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
}

.resetXP {
    background: url('../assets/reset-golden.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.mais1 {
    font-size: 1rem;
    padding: 0 0.35rem;
}

.botaoExternoBuyXP {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 90%;
    /* border: 2px solid rgb(21, 110, 151, 0.836);  */
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
}

.botaoExternoRefresh {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 90%;
    /* border-bottom: 2px solid rgba(175, 153, 24, 0.836);  */
    background-color: rgb(7, 42, 44, 0.9);
    color: white;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(23, 75, 99, 0.836);
    background-color: rgba(21, 54, 54, 0.836);
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
}

.buyXp,
.refreshBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1rem;
}

.valueAndIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyValue {
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

.buyGoldIcon {
    background: url('../assets/coin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
}


/* COR: #156E97 */
.buyXpIcon {
    background: url('../assets/up-chevron.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 1rem;
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgba(58, 50, 2, 0.836);
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
}

.refreshIcon {
    background: url('../assets/reload.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0 1rem;
}

.myButtonLvl {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    width: 100%;
    height: 100%;
}

/* .myButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    transform: scale(0.9);
    width: 100%;
    height: 50%; 
    transition: 200ms;   
} */

.botaoDestivado {
    opacity: 0.25;
}

.botaoDestivadoChamp{
    opacity: 0.10;
}

.botaoDestivadoStart {
    opacity: 0.5;
}

.none {
    visibility: hidden;
}

/* .myButton:hover{
    opacity: 0.75;
} */

.championBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(58, 58, 87, 0.836);
    height: 100%;
    width: 200px;
    transform: scale(0.9);
    cursor: pointer;
    color: white;
}

.champImg {
    position: absolute;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
}

.origemEClasse {
    /* border: 2px solid red; */
    position: absolute;
    bottom: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start; 
    font-size: 0.9rem;   
}

.origemEClasse>p {
    padding: 0.15rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    margin: 0 0 0.15rem 0.15rem;
}

.champNome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-image: linear-gradient(90deg, rgb(23, 25, 32) 0%, rgba(7, 42, 44, 1) 50%, rgb(12, 62, 65) 100%);
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

