.levelBar{
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
  
    height: 50px;
    width: 1200px;
/* 
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); */

    /* border-radius: 1rem; */

    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: transparent;

    color: white;
    box-sizing: border-box;
}

.level{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0;

    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); 
    
    height: 100%;
    width: 230px;

    z-index: 2;
}

.levelNumber{
    display: flex;   
    width: 100%; 
    align-items: center;
    justify-content: space-between;
}

.levelUpgrade{
    height: 6px;
    width: 85%;
    border: 1px solid grey;
}

.levelUpgradeIn{
    height: 100%;
    width: 25%;
    background-color: rgb(21, 110, 151);
}

.level p:first-child{
    font-size: 1.15rem;
    font-weight: bold;
    padding: 0.2rem 0.75rem;
}

.level p:last-child{  
    font-size: 0.75rem;
    padding: 0.2rem 0.75rem;
}

.odds{
    display: flex;     
    align-items: center;
    justify-content: space-evenly;

    font-size: 0.75rem;

    position: relative;
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
   
    height: 75%;
    width: 275px;
}

.oneStar{
    color: grey;
}
.twoStar{
    color: rgb(55, 165, 55);
}
.threeStar{
    color: rgb(91, 162, 228);
}
.fourStar{
    color: rgb(168, 8, 155);
}
.fiveStar{
    color: rgb(214, 165, 30);
}

.gold{
    display: flex;     
    align-items: center;
    justify-content: center;

    position: relative;
    left: 45px;

    background-color: transparent;

    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); 

    height: 100%;
    width: 130px;    
}

.goldIcon{
    background: url('../assets/coin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.goldValue{
    margin: 6px;
}


.lock{
    display: flex;     
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.75rem;

    position: relative;
    left: 500px;
    
    background-color: rgb(7, 42, 44, 0.9);
    border-top: 2px solid rgba(175, 153, 24, 0.836);
    border-right: 2px solid rgba(175, 153, 24, 0.836);
    border-left: 2px solid rgba(175, 153, 24, 0.836); 

    height: 75%;
    width: 65px;
    cursor: pointer;
}

.lock:hover{
    opacity: 0.9;
}

/* COR: #D9D152 */
.lockIconClosed{
    display: none;
    position: relative;
    background: url('../assets/unlocked-padlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.lockIconOpen{
    position: relative;
    background: url('../assets/unlocked-padlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 15px;
    height: 15px;   
}

.store{
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 150px;
    width: 1200px;

    border: 2px solid rgba(175, 153, 24, 0.836);
    /* border-radius: 1rem; */

    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

h1{
    color: white;
}

.levelBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    flex: 1;

    transform: scale(0.9);
}

.levelUp, .levelDown, .resetLevel{
    border: 2px solid rgba(175, 153, 24, 0.836);
    background-color: rgb(7, 42, 44, 0.9);
    font-size: 1.15rem;
    font-weight: bold;
    color: white;


    transform: scale(0.9);
    height: 100%;
    flex: 1;
    cursor: pointer;
}

.levelUp:hover, .levelDown:hover, .resetLevel:hover{
    opacity: 0.85;
}

.buy{
    border: 2px solid rgba(85, 167, 173, 0.836);  
    background-color: rgba(21, 54, 54, 0.836);  
}

.refresh{
    border: 2px solid rgba(175, 153, 24, 0.836);  
    background-color: rgba(58, 50, 2, 0.836);  
}

.myButtonLvl{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    width: 100%;
    height: 50px; 
}

.myButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.15rem;
    font-weight: bold;
    color: white;

    transform: scale(0.9);
    width: 100%;
    height: 50px; 
}

.myButton:hover{
    opacity: 0.85;
}

.championBox{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid rgba(82, 82, 82, 0.85);
    /* border-radius: 1rem; */

    height: 100%;
    width: 195px;

    transform: scale(0.9);
}